<%= form_for @comentario, :html => { :class => "form-horizontal comentario" } do |f| %>

    <% if @comentario.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@comentario.errors.count, "error") %> prohibited this comentario from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @comentario.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :usuario_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :usuario_id, :class => 'form-control' %>
    </div>
    <%= error_span(@comentario[:usuario_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :tema_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tema_id, :class => 'form-control' %>
    </div>
    <%= error_span(@comentario[:tema_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :comentario, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :comentario, :class => 'form-control' %>
    </div>
    <%= error_span(@comentario[:comentario]) %>
  </div>
  <div class="control-group">
    <%= f.label :fecha, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fecha, :class => 'form-control' %>
    </div>
    <%= error_span(@comentario[:fecha]) %>
  </div>
  <div class="control-group">
    <%= f.label :like, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :like, :class => 'form-control' %>
    </div>
    <%= error_span(@comentario[:like]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            comentarios_path, :class => 'btn btn-default' %>

<% end %>
